webapi/webportal/src/test/resources/dbunit/dtd/accept.dtd

<!ELEMENT dataset (
   (DATABASECHANGELOG|
    DATABASECHANGELOGLOCK|
    USER)*)>

<!ELEMENT DATABASECHANGELOG EMPTY>
<!ATTLIST DATABASECHANGELOG
    ID CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
    FILENAME CDATA #REQUIRED
    DATEEXECUTED CDATA #REQUIRED
    ORDEREXECUTED CDATA #REQUIRED
    EXECTYPE CDATA #REQUIRED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOGLOCK EMPTY>
<!ATTLIST DATABASECHANGELOGLOCK
    ID CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
>

<!ELEMENT USER EMPTY>
<!ATTLIST USER
    ID CDATA #REQUIRED
    CREATE_DATE CDATA #REQUIRED
    LOGIN CDATA #REQUIRED
    PASSWORD CDATA #IMPLIED
>

